[user]
	name = Abel Siqueira
	email = abel.s.siqueira@gmail.com
[github]
	user = abelsiqueira
[color]
	status = auto
	branch = auto
	diff = auto
	grep = auto
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	last = log -1 HEAD
	df = diff --color-words
	lg = log --pretty=short -3
	graph = log --pretty=oneline --graph
